body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.left, .left button.left {
  text-align: left;
}

.right {
  float: right;
}

a {
  color: #00B7FF;
}
