body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}


.right {
  float: right;
}

a {
  color: #00B7FF;
}

.info {
	word-wrap: break-word;
	white-space:pre-wrap;
}
