body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.left, .left button.left {
  text-align: left;
}

.right {
  float: right;
}

a {
  color: #00B7FF;
}

.profile {
	word-wrap: break-word;
	white-space:pre-wrap;
}

#name_game .student {
    border: 1px solid grey;
    border-radius: 5px;
    max-height: 300px;
}
