<!Doctype html>
  <html>
    <head>
      <title>title</title>
      <link rel='stylesheet' href='/stylesheets/style.css'>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
      <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
      <script src="https://use.fontawesome.com/53cba9084c.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if logged_in %}
                        <li><a href="/">Profile</a></li>
                        <li><a href="/courses">Courses</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      {% if logged_in %}
                        <ul class="nav navbar-nav navbar-right">
                          <li style="margin-right:10px;"><a href='/logout'>Log Out</a>
                        </ul>
                      {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </body>
  </html>

