{% extends "layout.html" %}

{% block title %}
Courses: Teaching
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).on('ready', function() {
  var edit_button = $('#edit_button');
  var edit_section = $('#edit_section');
  var view_section = $('#view_section');

  edit_button.on('click', function(e) {
    view_section.hide();
    edit_section.fadeIn('slow');
  });
});
</script>
{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1 class='center'>Your Courses</h1>
    <hr/>
  </div>
</div>

<div class='row' id="create_section">
  <div class='col-md-6 col-md-offset-3'>
    <form class="form-horizontal" action="/courses/add" method="post">
      <div class="form-group">
        <div class="col-sm-8">
          <label>Create new course</label>
          <input type="text" class="form-control" name="name" placeholder="Enter new course name">
        </div>
        <div class="col-sm-4">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-success btn-block">Create new course</button>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>

<div id="view_section" class='row'>
  <div class='col-md-6 col-md-offset-3'>
    {% for course in courses %}
      <div class="row">
        <div class="col-md-6">{{course.name}}</div>
        <div class="col-md-3">
          <a class="btn btn-default btn-block btn-xs" href="/courses/{{course.id}}">View Course</a>
        </div>
        <div class="col-md-3 right">
          <a class="btn btn-default btn-block btn-xs" href="/courses/delete/{{course.id}}">Delete Course</a>
        </div>
      </div>
    <br>
    {% endfor %}
  </div>
</div>

{% endblock %}
