body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logout {
  text-align:center;
  margin-right:30px;
  vertical-align: center;
  margin-top:10px;
}

.center {
  text-align: center;
}
